### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
# Count the total number of unique playes by SN
total_players = len(df["SN"].unique())


# Create a table to display the information
summary_df=pd.DataFrame({"Total Players":[total_players]})
summary_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [34]:
# Count the number of unique items
number_unique_items = len(df["Item Name"].unique())

# Calculate the avgerage price of each transaction
avg_price = round(df["Price"].mean(),2)

# Count the number of transactions
num_of_purchase=len(df["Purchase ID"].unique())

# Calculate the total revenue
total_revenue = df["Price"].sum()


# Create a table to display the inforamtion
summary_df=pd.DataFrame({"Number of Unique Items":[number_unique_items], 
                         "Average Price": [avg_price],
                         "Number of Purchases": [number_unique_items],
                         "Total Revenue": [total_revenue]})
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  179        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [ ]:
gdf=df.groupby(["Gender"])

# Total number per gender
gen_total_df=gdf.nunique()["SN"]

#percent per gender
gen_percent_df=(gen_total_df/total_players)

#Create table
gender_demograph_df=pd.DataFrame({"Total Count": gen_total_df, 
                                  "Percentage of Players": gen_percent_df})
#Reset the index
gender_demograph_df.index.name = None

#Sort the gender from largest total count to smallest total count
gender_demograph_df=gender_demograph_df.sort_values(["Total Count"], ascending=False)

#Format results
gender_demograph_df.style.format({"Percentage of Players": "{:,.2%}".format,})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# gdf=df.groupby(["Gender"])
# Count the number of purchases made by gender
purchase_count=gdf["Gender"].count()

# Average the purchase price by gender
avg_purchase_price=round(gdf["Price"].mean(),2)

# Sum the purchase price by gender
total_purchase_price=round(gdf["Price"].sum(),2)

# Calculate the average price per unique person
avg_total_purchase_price=round((total_purchase_price/gen_total_df),2)

#Create table
purchasing_analysis_df=pd.DataFrame({"Purchase Count": purchase_count, 
                                      "Average Purchase Price": avg_purchase_price,
                                      "Total Purchase Value": total_purchase_price,
                                      "Avg Total Purchase per Person": avg_total_purchase_price
                                     })

#Sort the gender from largest total count to smallest total count
purchasing_analysis_df=purchasing_analysis_df.sort_values(["Purchase Count"], ascending=False)

purchasing_analysis_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
# Creating bins
age_bin = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40>"]

# Categotize players into bins
df["Age Group"]=pd.cut(df["Age"], age_bin, labels=group_names)

#grouping by age
age_group_df = df.groupby("Age Group")

#total number of players by age
age_group_totals_df=age_group_df["SN"].nunique()

#Percentage by age group
age_group_percent_df=round((age_group_totals_df/total_players)*100,2)

# Make a table
age_demo_df=pd.DataFrame({"Total Count": age_group_totals_df,
                        "Percentage of Players": age_group_percent_df})

age_demo_df

           Total Count  Percentage of Players
Age Group
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40>                 12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# Creating bins
age_bin = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40>"]

# Categotize players into bins
df["Age Group"]=pd.cut(df["Age"], age_bin, labels=group_names)

#grouping by age
age_group_df = df.groupby("Age Group")

# Count the number of purchases made by each age group
age_group_count=age_group_df["Purchase ID"].count()

# Average the purchase price by each age group
age_group_price=round(age_group_df["Price"].mean(),2)

# Sum the purchase price by each age group
age_group_total=round(age_group_df["Price"].sum(),2)

# Calculate the average price per unique person
avg_age_group=round((age_group_price/age_group_count),2)

#Create table
age_purchasing_analysis_df=pd.DataFrame({"Purchase Count": age_group_count, 
                                      "Average Purchase Price": age_group_price,
                                      "Total Purchase Value": age_group_total,
                                      "Avg Total Purchase per Person": avg_age_group
                                     })

age_purchasing_analysis_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
top_spender = df.groupby("SN")

top_spender_purchase_count = top_spender["Purchase ID"].count()

top_spender_average_purchase_price = round(top_spender["Price"].mean(),2)

top_spender_total_purchase_price = top_spender["Price"].sum()


top_spender_table=pd.DataFrame({"Purchase Count":top_spender_purchase_count,
                                "Average Purchase Price":top_spender_average_purchase_price,
                                "Avg Total Purchase per Person":top_spender_total_purchase_price
                               })

top_spender_table=top_spender_table.sort_values(["Avg Total Purchase per Person"], ascending=False)

top_spender_table.head(5)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
top_seller = df.groupby(["Item ID","Item Name"])

top_seller_purchase_count = top_seller["Item ID"].count()
top_seller_avg_item_price = round(top_seller["Price"].mean(),2)
top_seller_total_purchase_value = top_seller["Price"].sum()


top_seller_table=pd.DataFrame({"Purchase Count":top_seller_purchase_count,
                                "Item Price":top_seller_avg_item_price,
                                "Total Purchase Price":top_seller_total_purchase_value
                               })

top_seller_table=top_seller_table.sort_values(["Purchase Count"], ascending = False)

top_seller_table.head()

,,Purchase Count,Item Price,Total Purchase Price
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [33]:
top_seller_table=top_seller_table.sort_values(["Total Purchase Price"], ascending = False)
top_seller_table.head()

,,Purchase Count,Item Price,Total Purchase Price
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80